<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="XMLCheck">
<listeners>
        <listener class-name="Listers.TestListener"/>
        <listener class-name="Listers.AnnotationTransformer"/>
    </listeners>
    <test name="TestCase1">
        <classes>
            <class name="TestFiles.TestCase1" />
        </classes>
    </test>
</suite>